#basket-container {
    width: 70%;
    height: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: black;
    background-color: #e2d01d;

    position: sticky;
    top: 0;
}

#basket-container h3 {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
}

#checkout img {
    size: 7.5rem;
}

#checkout img :hover {
    cursor: pointer;
}

#selection-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-family: "Cambay", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

#selection-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

